header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.header-icons{
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;
}

.header-button{
    background: white;
    color: #83764F;
    border: none;
    transition: .3s;
    width: 80px;
}

.header-button:hover{
    background: #dbdbdb;
    border-radius: 15px;
}

.region-selector{
    background: white;
    border: 3px solid #A0D8B3 ;
    width: 300px;
    height: 50px;
    text-align: left;
    transition: .2s;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8px;
}

.region-selector:hover{
    cursor: pointer;
    border: 5px solid #A2A378;
}
.header-search{
    height: 50px;
    width: 500px;
    border: 3px solid #A0D8B3;
    transition: .2s;
    margin-top: 8px;
}

.header-search:hover,
.header-search:focus{
    outline: none;
    border: 5px solid #A2A378;
    animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
    0%{
        border-color: #94B49F;
    }
    25%{
        border-color: #CEE5D0;
    }
    50%{
        border-color: #FCF8E8;
    }
    75%{
        border-color: #ECB390;
    }
    80%{
        border-color: #b97348;
    }
    100%{
        border-color: #94B49F;
    }
}


.logo-link {
    text-decoration: none !important;
    color: #000 !important;
    padding-right: 15px;
  }


@media (max-width: 768px){
    .region-selector{
        display: none;
    }
}

@media (min-width: 580px) and (max-width: 1300px){
    header{
        flex-wrap: nowrap;
    }
}

@media (max-width: 579px){
    header{
        flex-wrap: wrap;
    }
}

.basket-page {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    background: #F4F4F2;
    display: none;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-left: 1px solid #83764F;
    height: 100%;
    width: 35%;
    right: 0;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s, transform 0.3s;
    /* box-shadow: -10px 5px 10px red; */
    position: fixed;
  }


  .basket-page.show {
    opacity: 1;
    transform: scale(1);
  }



.basket-page p:first-child{
    margin-top: 40px;
    font-size: 25px;
}

.basket-page > img{
    width: 50px;
    margin-top: 25%;
}

.basket-page > button {
    border: none;
    background: #83764F;
    height: 40px;
    border-radius: 8%;
    margin-top: 3%;
    width: 300px;
    transition: .3s;
}

.basket-page > button:hover{
    background: #A2A378;
}

.line{
    border: none;
    border-top: 3px solid #83764F;
}

.region-selector-page{
    position: fixed;
    overflow: auto;
    height: 100%;
    display: none;
    position: absolute;
    background-color: #F4F4F2;
    z-index: 5;
    border-radius: 8%;
}
.region-selector-page::-webkit-scrollbar {
    width: 0.5em; /* Ширина полосы прокрутки */
  }

  .region-selector-page::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
  }

  .region-selector-page::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет полосы прокрутки */
  }



.region-city,
.region-name{
    list-style-type: none;
}

.region-ciry:hover{
    cursor: pointer;
}

.region-name-button:disabled{
    color: black;
    font-size: 16px;
    background-color: #94B49F;
    border-radius: 3%;
    border: none;
    width: 100%;
    text-align: left;
}

.region-city-button{
    color: black;
    font-size: 16px;
    background-color: #A2A378;
    border-radius: 3%;
    border: none;
    width: 100%;
    text-align: left;
}

.region-city-button:hover{
    cursor: pointer;
    font-size: 17px;
}

.region-selector-page > p{
    text-align: center;
    font-size: 20px;
}

.region-selector-page > span{
    text-align: center;
    font-size: 18px;
}

.region-selector-close{
    border: none;
    background: #83764F;
    border-radius: 50%;
    transition: 0.3s;
}

.region-selector-close:hover{
    background: #A2A378;
}