.slider-container:hover .slider > button{
  display: block;
}
.slider {
    overflow: hidden;
    flex-direction: row;
    margin-top: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
      justify-content: flex-start;
  }
  .slider-container {
    width: 65%;
    display: flex;
    position: relative;
    overflow-x: auto; /* добавляет горизонтальную прокрутку, если слайды не помещаются на экране */
  }

  .slide-item {
    position: absolute;
    opacity:0;
  }

  .slide-item.active {
    display: block;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(calc(-100% / 4 * var(--currentIndex)));
  }

  .slider > button{
    height: 5%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
    opacity: 0.8;
    border-radius: 50%;
    margin-right: 10px;
    display: none;
  }
#nextBtn{
  right: 0;
}
